{{define "EVHttpHandler"}}
type HttpHandler struct{}

func (h *HttpHandler) ServeHTTP(w http.ResponseWriter, r *http.Request){
    {{if .DEBUG}}
        log.Println("eve","::",r.Method, r.URL.Path)
        {{if .USE_EVLOG}}
            // log only to the evlog api if it is not the api call itself
            // otherwise it will create a endless requests loop
            if r.URL.Path != "{{.ROUTE_PATH_PREFIX}}evlog"{
                defer EVLogPublish()
                eve.EVLogPrintln("EVLogger","::",r.Method, r.URL.Path)
            }
        {{end}}
    {{end}}
    {{if .USE_PROMETHEUS}}
        {{template "EVRestHttpHandlerPrometheus" .}}
    {{end}}
    http.ServeFile(w,r,webroot)
}

func NewHttpHandler() *HttpHandler{
    return &HttpHandler{}
}

{{end}}
