{{define "EVRestSchedule"}}
type Scheduler struct {
    EVSched *eve.Scheduler
}

// RESTUpdateCommand will update a running command in the Scheduler Running map
func (s *Scheduler) RESTUpdateCommand(w http.ResponseWriter, r *http.Request) error {
	switch r.FormValue("Mode") {
	case "Start.Processes":
		return s.RESTServicesRun(w, r)
	case "Stop.Processes":
		return s.RESTServicesStop(w, r)
	case "Start.Process":
		return s.RESTServicesStart(w, r)
	case "Kill.Process":
		return s.RESTServiceStop(w, r)
	case "Restart.Process":
		return s.RESTServiceRestart(w, r)
	case "Shutdown":
		return s.RESTShutdown(w, r)
	}
	return errors.New("No Mode was choosen please use one the following modes: Replace.Process|Kill.Process|Kill.Processes|Start.Process|Start.Processes|Shutdown")
}

// RESTServicesRun 
func (s *Scheduler) RESTServicesRun(w http.ResponseWriter, r *http.Request) error {
	{{if .DEBUG}}
		fmt.Println(r.FormValue("Cmd"))
		fmt.Println(r.FormValue("Args"))
	{{end}}
	return s.EVSched.AppendServiceCmd(r.FormValue("Cmd"), r.Form["Args"])
}

// RESTServicesStop 
func (s *Scheduler) RESTServicesStop(w http.ResponseWriter, r *http.Request) error {
	return s.EVSched.DeleteCmd(r.FormValue("Id"))
}

// RESTServicesStart
func (s *Scheduler) RESTServicesStart(w http.ResponseWriter, r *http.Request) error {
	return s.EVSched.KillCmd(r.FormValue("Id"))
}

// RESTServiceStop
func (s *Scheduler) RESTServiceStop(w http.ResponseWriter, r *http.Request) error {
	return s.EVSched.KillAllCmds()
}

// RESTServiceRestart
func (s *Scheduler) RESTServiceRestart(w http.ResponseWriter, r *http.Request) error {
	{{if .DEBUG}}
		fmt.Println("start process with id", r.FormValue("Id"))
	{{end}}
	return s.EVSched.StartProcess(r.FormValue("Id"))
}

// RESTShutdown 
func (s *Scheduler) RESTShutdown(w http.ResponseWriter, r *http.Request) error {
	return s.EVSched.StartAllProcesses()
}

var EVSchedulerObj *Scheduler = &Scheduler{
    EVSched: eve.NewScheduler(),
}

{{end}}
