{{define "EVWEB"}}
package {{.Package}}
import(
    {{imports .Imports}}
)

var VERSION = "{{.Version}}"

var flags *flag.FlagSet
var separator string = "----------------------------------------"
var command string = ""
{{commandFlagsVars .Commands}}

func {{.UsageFunc}}(){
	fmt.Println(`{{commandUsage .Commands .}}`)
}

{{if .USE_PROMETHEUS}}
    {{template "EVRestPrometheus" .}}
{{end}}

func init() {
	if len(os.Args) <= 1 {
		{{.UsageFunc}}()
		fmt.Println(separator)
		os.Exit(2)
	}
	command = os.Args[1]
	flags = flag.NewFlagSet(command, flag.ExitOnError)
	{{commandFlags .Commands}}
	flags.Usage = {{.UsageFunc}}
	{{if .USE_PROMETHEUS}}
	PromInit()
	{{end}}
}

func main(){
    flags.Parse(os.Args[2:])
	if debug {
		eve.SetDebug(true)
	}

	if address == "" {
		address = "{{.DefaultAddress}}"
	}

    http.Handle("/", http.FileServer(http.Dir(webroot)))

	switch command {

	case "help":
		if hhttp != "" {
			fmt.Println("running http service at", hhttp)
			fmt.Println("help is now available at ::", "http://" + hhttp + "/help")
			log.Fatal(http.ListenAndServe(hhttp, nil))
		} else {
			{{.UsageFunc}}()
			fmt.Println(separator)
			os.Exit(2)
		}

	case "http":
		fmt.Println("running http service at", address)
		log.Fatal(http.ListenAndServe(address, nil))
	case "https":
		fmt.Println("running https service at", address, "with cert", crt, "and key", key)
		log.Fatal(http.ListenAndServeTLS(address, crt, key, nil))
	case "version":
		fmt.Println("version " + VERSION)
		os.Exit(0)

	default:
		fmt.Println(separator)
		fmt.Println("the given command", command, "is not supported now")
		{{.UsageFunc}}()
		fmt.Println(separator)
		os.Exit(2)
	}
}
{{end}}
