*~
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*#
#*
.#*
build/
*.bin

tests/tmp/main.go
tests/tmp/*_main.go
tests/tmp/main.json
tests/tmp/*_main.json

*.db
*.dblite
*.exe
dist/

.goget
build.sh
run.sh
bintray.clean.sh

.DS_Store