{{define "EVBoltRestApi"}}
    {{if .USE_evBoltRoot}}
        eve.evBoltRoot = "{{.USE_evBoltRoot}}"
    {{end}}
    if r.URL.Path == "{{.ROUTE_PATH_PREFIX}}evbolt" {
        {{if .USE_EVBOLT_AUTH}}
            if !EVUserIsAllowed(w,r){
                eve.ReturnErrorMessage(w, 403, errors.New("Forbidden"), format)
                return
            }
        {{end}}
        res := ""
        {{if .DEBUG}}
            log.Println(r.Method, r.RequestURI)
        {{end}}
        switch r.Method {
        case "GET":
            switch r.FormValue("evbolt.data") {
            case "first":
                err := eve.CheckRequiredFormValues(r, map[string]bool{"database": true, "bucket": true})
                if err != nil {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }
                res, err = eve.EVBoltFirst(r.FormValue("database"), r.FormValue("bucket"))
                if err != nil {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }
            case "last":
                err := eve.CheckRequiredFormValues(r, map[string]bool{"database": true, "bucket": true})
                if err != nil {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }

                res, err = eve.EVBoltLast(r.FormValue("database"), r.FormValue("bucket"))
                if err != nil {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }
            case "key":
                err := eve.CheckRequiredFormValues(r, map[string]bool{"database": true, "bucket": true, "key": true})
                if err != nil {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }

                keyType := eve.DefineKeyType(r.FormValue("evbolt.keytype"))
                switch keyType {
                case eve.evBoltKeyTypeAuto:
                    res, err = eve.EVBoltAutoGet(r.FormValue("database"), r.FormValue("bucket"), r.FormValue("key"))
                    if err != nil {
                        eve.ReturnErrorMessage(w, 400, err, format)
                        return
                    }
                case eve.evBoltKeyTypeCustom:
                    res, err = eve.EVBoltCustomGet(r.FormValue("database"), r.FormValue("bucket"), r.FormValue("key"))
                    if err != nil {
                        eve.ReturnErrorMessage(w, 400, err, format)
                        return
                    }
                default:
                    eve.ReturnErrorMessage(w, 400 ,errors.New("keytype '"+keyType+"' is not supported yet"), format)
                    return
                }
            case "meta":
                err := eve.CheckRequiredFormValues(r, map[string]bool{"evbolt.result": true})
                if err != nil {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }

                switch r.FormValue("evbolt.result") {
                case "db.bucket.id":
                    err := eve.CheckRequiredFormValues(r, map[string]bool{"database": true, "bucket": true})
                    if err != nil {
                        eve.ReturnErrorMessage(w, 400, err, format)
                        return
                    }
                    res, err = eve.EVBoltMetaDbBucketID(r.FormValue("database"), r.FormValue("bucket"))
                    if err != nil {
                        eve.ReturnErrorMessage(w, 400, err, format)
                        return
                    }
                case "dbs.buckets.all":
                    res, err = eve.EVBoltMetaAll()
                    if err != nil {
                        eve.ReturnErrorMessage(w, 400, err, format)
                        return
                    }
                case "db.buckets.all":
                    err := eve.CheckRequiredFormValues(r, map[string]bool{"database": true})
                    if err != nil {
                        eve.ReturnErrorMessage(w, 400, err, format)
                        return
                    }
                    res, err = eve.EVBoltMetaAllBucketsForDb(r.FormValue("database"))
                    if err != nil {
                        eve.ReturnErrorMessage(w, 400, err, format)
                        return
                    }
                case "dbs.bucket.all":
                    err := eve.CheckRequiredFormValues(r, map[string]bool{"bucket": true})
                    if err != nil {
                        eve.ReturnErrorMessage(w, 400, err, format)
                        return
                    }
                    res, err = eve.EVBoltMetaAllDbsForBucket(r.FormValue("bucket"))
                    if err != nil {
                        eve.ReturnErrorMessage(w, 400, err, format)
                        return
                    }
                default:
                    eve.ReturnErrorMessage(w, 400, errors.New("the given evbolt.result type:"+r.FormValue("evbolt.result")+" is not supported yet"), format)
                    return
                }
            default:
                err := eve.CheckRequiredFormValues(r, map[string]bool{"database": true, "bucket": true})
                if err != nil {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }
                switch format {
                    case ".json":
                        // default return all if nothing else is requested
                        res, err = eve.EVBoltAllJSON(r.FormValue("database"), r.FormValue("bucket"))
                        if err != nil {
                            eve.ReturnErrorMessage(w, 400, err, format)
                            return
                        }
                    case ".html":
                        // default return all if nothing else is requested
                        res, err = eve.EVBoltAllHTML(r.FormValue("database"), r.FormValue("bucket"))
                        if err != nil {
                            eve.ReturnErrorMessage(w, 400, err, format)
                            return
                        }
                    default:
                        // default return all if nothing else is requested
                        res, err = eve.EVBoltAllString(r.FormValue("database"), r.FormValue("bucket"))
                        if err != nil {
                            eve.ReturnErrorMessage(w, 400, err, format)
                            return
                        }
                }
            }
        case "POST":
            err := eve.CheckRequiredFormValues(r, map[string]bool{"database": true, "bucket": true, "message": true})
            if err != nil {
                eve.ReturnErrorMessage(w, 400, err, format)
                return
            }

            msg, err := eve.DecodeMessage(r.FormValue("message"), r.FormValue("evbolt.msgtype"))
            if err != nil {
                eve.ReturnErrorMessage(w, 400, err, format)
                return
            }

            keyType := ""
            if r.FormValue("key") != "" && r.FormValue("evbolt.keytype") == "" {
                keyType = eve.evBoltKeyTypeCustom
            } else if r.FormValue("key") != "" && r.FormValue("evbolt.keytype") != "custom" && r.FormValue("evbolt.keytype") != "c" {
                eve.ReturnErrorMessage(w, 400, errors.New("If a custom key is given ketype must not be 'auto' or 'a'. Leave keytype blank or use 'custom' or 'c'"), format)
                return
            } else {
                keyType = eve.DefineKeyType(r.FormValue("evbolt.keytype"))
            }

            switch keyType {
            case eve.evBoltKeyTypeAuto:
                res, err = eve.EVBoltAutoPut(msg, r.FormValue("database"), r.FormValue("bucket"))
                if err != nil {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }
            case eve.evBoltKeyTypeCustom:
                err := eve.CheckRequiredFormValues(r, map[string]bool{"key": true})
                if err != nil {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }

                val, err := eve.EVBoltCustomGet(r.FormValue("database"), r.FormValue("bucket"), r.FormValue("key"))
                if err != nil && err.Error() != eve.NA {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }
                if val != "" {
                    eve.ReturnErrorMessage(w, 400, errors.New("the key "+r.FormValue("key")+" is already in use"), format)
                    return
                }
                res, err = eve.EVBoltCustomPut(r.FormValue("key"), msg, r.FormValue("database"), r.FormValue("bucket"))
                if err != nil {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }
            default:
                eve.ReturnErrorMessage(w, 400, errors.New("keytype '"+keyType+"' is not supported yet"), format)
                return
            }
        case "PUT":
            err := eve.CheckRequiredFormValues(r, map[string]bool{"database": true, "bucket": true, "message": true, "key": true})
            if err != nil {
                eve.ReturnErrorMessage(w, 400, err, format)
                return
            }

            msg, err := eve.DecodeMessage(r.FormValue("message"), r.FormValue("evbolt.msgtype"))
            if err != nil {
                eve.ReturnErrorMessage(w, 400, err, format)
                return
            }

            keyType := eve.DefineKeyType(r.FormValue("evbolt.keytype"))
            switch keyType {
            case eve.evBoltKeyTypeAuto:
                res, err = eve.EVBoltAutoUpdate(msg, r.FormValue("database"), r.FormValue("bucket"), r.FormValue("key"))
                if err != nil {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }
            case eve.evBoltKeyTypeCustom:
                res, err = eve.EVBoltCustomUpdate(msg, r.FormValue("database"), r.FormValue("bucket"), r.FormValue("key"))
                if err != nil {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }
            default:
                eve.ReturnErrorMessage(w, 400, errors.New("keytype '"+keyType+"' is not supported yet"), format)
                return
            }
        case "DELETE":
            err := eve.CheckRequiredFormValues(r, map[string]bool{"database": true, "bucket": true, "key": true})
            if err != nil {
                eve.ReturnErrorMessage(w, 400, err, format)
                return
            }

            keyType := eve.DefineKeyType(r.FormValue("evbolt.keytype"))
            switch keyType {
            case eve.evBoltKeyTypeAuto:
                res, err = eve.EVBoltAutoDelete(r.FormValue("database"), r.FormValue("bucket"), r.FormValue("key"))
                if err != nil {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }
            case eve.evBoltKeyTypeCustom:
                res, err = eve.EVBoltCustomDelete(r.FormValue("database"), r.FormValue("bucket"), r.FormValue("key"))
                if err != nil {
                    eve.ReturnErrorMessage(w, 400, err, format)
                    return
                }
            default:
                eve.ReturnErrorMessage(w, 400, errors.New("keytype '"+keyType+"' is not supported yet"), format)
                return
            }
        default:
            eve.ReturnErrorMessage(w, 400, errors.New("The given HTTP Method<"+r.Method+"> is not supported now!"), format)
            return
        }
        eve.ReturnResult(w, 200, res, format)
        return
    }
{{end}}