{{define "EVScheduleRestApi"}}
if strings.Contains(r.URL.Path, "{{.ROUTE_PATH_PREFIX}}evschedule") {
    switch r.Method {
        case http.MethodGet:
            err := EVSchedulerObj.RESTGetCommand(w, r)
            if err != nil {
                eve.ReturnErrorMessage(w, 500, err, format)
                return
            }
        case http.MethodPost:
            err := EVSchedulerObj.RESTAppendCommand(w, r)
            if err != nil {
                eve.ReturnErrorMessage(w, 500, err, format)
                return
            }
        case http.MethodPut:
            err := EVSchedulerObj.RESTUpdateCommand(w, r)
            if err != nil {
                eve.ReturnErrorMessage(w, 500, err, format)
                return
            }
        case http.MethodDelete:
            err := EVSchedulerObj.RESTDeleteCommand(w, r)
            if err != nil {
                eve.ReturnErrorMessage(w, 500, err, format)
                return
            }
    }
    return
}
{{end}}
